<ul class="timeline">
  <li class="container">
    <div class="content">
      <app-work-experience-item>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
      </app-work-experience-item>
    </div>
  </li>
  <li class="container">
    <div class="content">
      <app-work-experience-item>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
      </app-work-experience-item>
    </div>
  </li>
  <li class="container">
    <div class="content">
      <app-work-experience-item>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
        <p>work-experience-item works!</p>
      </app-work-experience-item>
    </div>
  </li>
</ul>
