<div class="text-gray-900 py-5">
  <p class="py-4">
    Hello, I am Alexandros Tsichouridis and I am a senior software engineer. Working individually and as part of many teams I have developed
    my technical and soft skills. My interests are laying between Java and JavaScript. During work and personal projects
    I use Spring Framework and Angular or React.js. I am interested in computer science and more specifically software engineering.
  </p>
  <p>
    My main research interests are related to effective programming teaching. During my BSc and MSc thesis I did extensive
    research trying to understand main programming difficulties for learners and challenges for instructors. On this basis
    applications and tools are developed to confront with these difficulties.
  </p>

</div>
