<div class="text-gray-900 py-5">
  <p class="py-4">
    Hello, I am Alex. I work as a senior software engineer. I am interested in achieving clean software design and high-quality code. The main code languages I work with are Java and JavaScript.
    During work and personal projects, I use Spring Framework and Angular or React.js. Working individually and as part of many teams I have developed
    my technical and soft skills.
  </p>
  <p>
    My main research interests are related to effective programming teaching. During my BSc and MSc thesis I did extensive
    research trying to understand main programming difficulties for learners and challenges for instructors. On this basis
    applications and tools are developed to confront these difficulties.
  </p>

</div>
