<article class="home-info bg-blue-200 mx-auto mt-16 p-4 rounded-md border-blue-600 border-2">
  <section class="flex flex-col gap-2 text-center">
    <div class="py-4">
      <h1 class="font-semibold text-3xl text-gray-900">Alexandros Tsichouridis</h1>
      <h3 class="text-gray-600">Senior Software Engineer</h3>
      <app-button label="Download CV" />
    </div>
  </section>
  <div class="hidden sm:block border-4 w-2"></div>
  <section class="">
    <p class="py-4">
      Hello, I am Alex. I am a senior software engineer. Working individually and as part of many teams I have developed
      my technical and soft skills.
    </p>
  </section>
</article>